{% extends 'app/base.html' %}
{% load static %}
{% block title %} About us {% endblock title %}
    
    {% block content %}
    <div class="container my-5">
      <!-- Cover Image Section -->
      <div class="text-center">
        <img class="img-fluid rounded shadow-lg" src="{% static 'images/p2.jpg' %}" alt="Cover Image 1">
      </div>
      
      <!-- Content Section 1 -->
      <h1 class="text-center mt-5">ABOUT GSKILL STACKS</h1>
      <p class="mt-3 fs-4 text-center">
         "Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          <br> Nostrum veritatis dignissimos fugit <br> possimus maiores nihil."
         </p>
    
      <!-- Content Section 2 -->
      <div class="mt-5" style="display: inline-flex;">
        <div style="margin-left: 5%;">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.  <br>
               Voluptatum delectus sequi explicabo, itaque tempora 
               aperiam dicta, reiciendis enim praesentium <br>
               ex autem commodi! Pariatur nisi voluptates <br>
               quas minima omnis iste fugiat!
            </p>
            <p class="mt-2">
               Lorem ipsum dolor sit amet consectetur adipisicing elit.  <br>
               Voluptatum delectus sequi explicabo, itaque tempora 
               aperiam dicta, reiciendis enim praesentium <br>
               ex autem commodi! Pariatur nisi voluptates <br>
               quas minima omnis iste fugiat!
            </p>
        </div>

        <div style="margin-left: 10%;">
         <div>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.  <br>
               Voluptatum delectus sequi explicabo, itaque tempora 
               aperiam dicta, reiciendis enim praesentium <br>
               ex autem commodi! Pariatur nisi voluptates <br>
               quas minima omnis iste fugiat!
            </p>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.  <br>
               Voluptatum delectus sequi explicabo, itaque tempora 
               aperiam dicta, reiciendis enim praesentium <br>
               ex autem commodi! Pariatur nisi voluptates <br>
               quas minima omnis iste fugiat!
            </p>
        </div>
      </div>
   </div>
    
    
      <!-- Second Image Section -->
      <div class="text-center mt-5">
        <img class="img-fluid rounded shadow-lg" src="{% static 'images/cover.jpg' %}" alt="Cover Image 3">
      </div>
    
      <!-- Content section 3 -->
         <div class="mt-5" style="display: inline-flex;">
            <div style="margin-left: 3%;">
               <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatum delectus sequi explicabo,b <br> itaque tempora 
                  aperiam dicta, reiciendis enim praesentium 
                  ex autem commodi! Pariatur nisi voluptates <br>
                  quas minima omnis iste fugiat!
               </p>
               <p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatum delectus sequi explicabo,b <br> itaque tempora 
                  aperiam dicta, reiciendis enim praesentium 
                  ex autem commodi! Pariatur nisi voluptates <br>
                  quas minima omnis iste fugiat!
               </p>
            </div>
    
            <div style="margin-left: 5%;">
             <div>
                <p>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Voluptatum delectus sequi explicabo,b <br> itaque tempora 
                   aperiam dicta, reiciendis enim praesentium 
                   ex autem commodi! Pariatur nisi voluptates <br>
                   quas minima omnis iste fugiat!
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Voluptatum delectus sequi explicabo,b <br> itaque tempora 
                   aperiam dicta, reiciendis enim praesentium 
                   ex autem commodi! Pariatur nisi voluptates <br>
                   quas minima omnis iste fugiat!
                </p>
            </div>
          </div>

          <div style="margin-left: 5%;">
            <div>
               <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatum delectus sequi explicabo,b <br> itaque tempora 
                  aperiam dicta, reiciendis enim praesentium 
                  ex autem commodi! Pariatur nisi voluptates <br>
                  quas minima omnis iste fugiat!
               </p>
               <p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatum delectus sequi explicabo,b <br> itaque tempora 
                  aperiam dicta, reiciendis enim praesentium 
                  ex autem commodi! Pariatur nisi voluptates <br>
                  quas minima omnis iste fugiat!
               </p>
           </div>
         </div>
       </div>

       <!-- Content section 4 -->
      <h1 class="mt-4 text-center">LOREM IPSUM</h1>
       <p class="text-center fs-2">
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, totam rem. Soluta fugiat 
         dignissimos nesciunt eius laudantium, corporis similique eligendi, dolorum sed iste vitae optio mollitia. 
         Dolores officiis sint delectus animi asperiores doloribus pariatur, suscipit fugit possimus velit provident,
         quaerat earum aperiam ab officia, accusamus reprehenderit reiciendis perferendis eligendi recusandae dignissimos
         aut alias perspiciatis est! Eos facere eveniet consequatur voluptate architecto magnam, eaque
         ratione eligendi doloremque? Totam, porro inventore? Nostrum labore consequatur ad, qui pariatur
         quasi perferendis quisquam ratione magnam architecto obcaecati quo,
         culpa non nam dolorem magni dolorum similique, est aperiam quis laudantium inventore doloremque. Quidem esse excepturi corrupti!
       </p>
    </div>
   </div>

{% endblock content %}
