{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block content %}
  <!-- Slider -->
  <div class="slider-wraper owl-carousel owl-theme mb-4 carousel slide" id="hero-slider" data-bs-ride="carousel" data-bs-pause="hover">
    <div class="slider-1 min-vh-100 bg-cover d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h6 class="text-uppercase text-white mb-4">We craft digital experiences</h6>
            <h1 class="display-3 my-4 text-uppercase text-white">Design driven for<br>professionals</h1>
            <a href="" class="btn btn-brand">Start Today</a>
            <a href="" class="btn btn-outline-light">Our Work</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-2 min-vh-100 bg-cover d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h6 class="text-uppercase text-white mb-4">And groom young minds</h6>
            <h1 class="display-3 my-4 text-uppercase text-white">Design driven for<br>learners</h1>
            <a href="" class="btn btn-brand">Start Now</a>
            <a href="" class="btn btn-outline-light">Our Programmes</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-3 min-vh-100 bg-cover d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h6 class="text-uppercase text-white mb-4">That will later make it great in life</h6>
            <h1 class="display-3 my-4 text-uppercase text-white">Design driven by<br>youngsters</h1>
            <a href="" class="btn btn-brand">Start Now</a>
            <a href="" class="btn btn-outline-light">Our Achievement</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-5 align-items-center justify-content-center">
          <div class="row">
              <div class="col-12 info-box">
                <img src="{% static 'images/play.png' %}" alt="">
                  <div class="">
                  <h5 class="display-5">ABOUT US</h5>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Du
                      cimus aperiam recusandae ipsa, placeat, autem amet voluptate 
                      qui aspernatur soluta sapiente cupiditate natus non accusant
                      ium quaerat aliquam libero deleniti tempora explicabo!
                  </p>
                  </div>
              </div>

              <span class="divider"></span>
              <div class="col-12 info-box">

                <img src="{% static 'images/play.png' %}" alt="">
      
                <div class="">
                <h5 class="display-5">ABOUT US</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Du
                    cimus aperiam recusandae ipsa, placeat, autem amet voluptate 
                    qui aspernatur soluta sapiente cupiditate natus non accusant
                    ium quaerat aliquam libero deleniti tempora explicabo!
                </p>
                </div>
            </div>

            

            <div class="col-12 info-box">

              <img src="{% static 'images/play.png' %}" alt="">
            
              <div class="">
              <h5 class="display-5">ABOUT US</h5>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Du
                  cimus aperiam recusandae ipsa, placeat, autem amet voluptate 
                  qui aspernatur soluta sapiente cupiditate natus non accusant
                  ium quaerat aliquam libero deleniti tempora explicabo!
              </p>
              </div>
          </div>
          </div>
        </div>
        <div class="col-md-5 bg-img">
          <img src="{% static 'images/cover3.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </section>
  <center> <a href="{% url 'about' %}" class="btn btn-brand">More about us</a></center>
<!-- Milestone -->
<section id="milestone" class="bg-cover">
<div class="container mt-3 p-5">
  <div class="row justify-content-center gy-10">
    <div class="col-lg-2">
      <div class="display-4">4546</div>
      <p>Project completed</p>
    </div>
    <div class="col-lg-2">
      <div class="display-4">4546</div>
      <p>Project completed</p>
    </div>
    <div class="col-lg-2">
      <div class="display-4">4546</div>
      <p>Project completed</p>
    </div>
    <div class="col-lg-2">
      <div class="display-4">4546</div>
      <p>Project completed</p>
    </div>
  </div>
</div>
</section>

<!-- Services -->
<section id="services" class="bg-cover bg-light">
<div class="container mt-5">
  <div class="row ">
    <div class="col-lg-12 text-center intro">
      <h5>Our Services</h5>
      <h1>What We Do</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Harum minima eligendi repellendus itaque beatae ex? Deserunt saepe, 
        accusamus enim iusto voluptatem repudiandae architecto non maiores 
        voluptas quam quae, minus doloribus eaque amet delectus consequatur 
        reprehenderit et placeat odit consectetur blanditiis, quidem facere 
        corrupti. Obcaecati, magni veritatis doloribus delectus autem vero 
        aut cumque vel, ex excepturi, ut quibusdam repudiandae aperiam labore 
        non earum iure praesentium? Consectetur fuga nam perspiciatis quasi 
        possimus officiis sed, eum animi quis accusamus inventore facere illum. 
        Accusamus maiores quasi id quod suscipit. Recusandae libero 
        beatae tempore esse non labore quidem, 
        repellendus corporis accusamus dolorem. Fugiat, dignissimos ex.</p>
    </div>
  </div>
  <div class="row g-4 mt-4">
    <div class="col-lg-4">
      <div class="Services-box">
        <img src="{% static 'images/play.png' %}" alt="">
        <h5>Digital Marketing</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Pariatur, assumenda? Ducimus omnis et quis commodi quod, 
          asperiores cupiditate tempore corrupti natus non exercitationem 
          veritatis praesentium voluptates dolore vero nostrum quae dolorum 
          hic alias dolor explicabo sunt perferendis consectetur qui. Quibusdam sint, dignissimos 
          voluptatem error placeat dolorum quae possimus rerum. Recusandae.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="Services-box">
        <img src="{% static 'images/play.png' %}" alt="">
        <h5>Digital Marketing</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Pariatur, assumenda? Ducimus omnis et quis commodi quod, 
          asperiores cupiditate tempore corrupti natus non exercitationem 
          veritatis praesentium voluptates dolore vero nostrum quae dolorum 
          hic alias dolor explicabo sunt perferendis consectetur qui. Quibusdam sint, dignissimos 
          voluptatem error placeat dolorum quae possimus rerum. Recusandae.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="Services-box">
        <img src="{% static 'images/play.png' %}" alt="">
        <h5>Digital Marketing</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Pariatur, assumenda? Ducimus omnis et quis commodi quod, 
          asperiores cupiditate tempore corrupti natus non exercitationem 
          veritatis praesentium voluptates dolore vero nostrum quae dolorum 
          hic alias dolor explicabo sunt perferendis consectetur qui. Quibusdam sint, dignissimos 
          voluptatem error placeat dolorum quae possimus rerum. Recusandae.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="Services-box">
        <img src="{% static 'images/play.png' %}" alt="">
        <h5>Digital Marketing</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Pariatur, assumenda? Ducimus omnis et quis commodi quod, 
          asperiores cupiditate tempore corrupti natus non exercitationem 
          veritatis praesentium voluptates dolore vero nostrum quae dolorum 
          hic alias dolor explicabo sunt perferendis consectetur qui. Quibusdam sint, dignissimos 
          voluptatem error placeat dolorum quae possimus rerum. Recusandae.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="Services-box">
        <img src="{% static 'images/play.png' %}" alt="">
        <h5>Digital Marketing</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Pariatur, assumenda? Ducimus omnis et quis commodi quod, 
          asperiores cupiditate tempore corrupti natus non exercitationem 
          veritatis praesentium voluptates dolore vero nostrum quae dolorum 
          hic alias dolor explicabo sunt perferendis consectetur qui. Quibusdam sint, dignissimos 
          voluptatem error placeat dolorum quae possimus rerum. Recusandae.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="Services-box">
        <img src="{% static 'images/play.png' %}" alt="">
        <h5>Digital Marketing</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Pariatur, assumenda? Ducimus omnis et quis commodi quod, 
          asperiores cupiditate tempore corrupti natus non exercitationem 
          veritatis praesentium voluptates dolore vero nostrum quae dolorum 
          hic alias dolor explicabo sunt perferendis consectetur qui. Quibusdam sint, dignissimos 
          voluptatem error placeat dolorum quae possimus rerum. Recusandae.
        </p>
      </div>
    </div>
  </div>
</div>
</section>

<!-- PORTFOLIO -->
<section id="portfolio">
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 text-center intro">
      <h5>OUR PROJECT</h5>
      <h1>OUR RECENT PROJECT</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus sed, exercitationem debitis accusantium voluptate neque dolores facere voluptatibus commodi fugit.</p>
    </div>
  </div>
</div>

<!-- <div class="owl-carousel owl-theme">
  <div class="item"><h4>1</h4></div>
  <div class="item"><h4>2</h4></div>
  <div class="item"><h4>3</h4></div>
  <div class="item"><h4>4</h4></div>
  <div class="item"><h4>5</h4></div>
  <div class="item"><h4>6</h4></div>
  <div class="item"><h4>7</h4></div>
  <div class="item"><h4>8</h4></div>
  <div class="item"><h4>9</h4></div>
  <div class="item"><h4>10</h4></div>
  <div class="item"><h4>11</h4></div>
  <div class="item"><h4>12</h4></div>
</div> -->

<div class="owl-theme owl-carousel" id="project-slider">
  <div class="project">
    <img src="{% static 'images/p1.jpg' %}" alt="">
    <div class="over-layer"></div>
    <div class="content">
      <h1>PROJECT TITLE</h1>
      <p>PROJECT SUBTITLE</p>
    </div>
  </div>
</div>

</section>

<!-- OUR TEAM -->
<section id="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center intro">
        <h5>MEET THE TEAM</h5>
        <h1>OUR PROFESSIONALS</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quo natus repellendus deleniti autem quasi quisquam, nihil eveniet praesentium esse.  </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="our-team">
          <div class="img-wrapper">
            
            <img src="{% static 'images/team-member01.jpg' %}" alt="">
            <div class="over-layer"></div><div class="social-links">
              <a href=""><i class='bx bxl-linkedin'></i></a>
              <a href=""><i class='bx bxl-instagram'></i></a>
              <a href=""><i class='bx bxl-youtube'></i></a>
              <a href=""><i class='bx bxl-twitter' ></i></a>
            </div>
          </div>
          
          <div class="content">
            <h5>Williams Becker</h5>
            <p>Senior developer</p>
          </div>
        
        </div>
      </div>

      <div class="col-lg-4">
        <div class="our-team">
          <div class="img-wrapper">
            
            <img src="{% static 'images/team-member03.jpg' %}" alt="">
            <div class="over-layer"></div><div class="social-links">
              <a href=""><i class='bx bxl-linkedin'></i></a>
              <a href=""><i class='bx bxl-instagram'></i></a>
              <a href=""><i class='bx bxl-youtube'></i></a>
              <a href=""><i class='bx bxl-twitter' ></i></a>
            </div>
          </div>
          
          <div class="content">
            <h5>John Doe</h5>
            <p>Graphics</p>
          </div>
        
        </div>
      </div>

      <div class="col-lg-4">
        <div class="our-team">
          <div class="img-wrapper">
            
            <img src="{% static 'images/team-member02.jpg' %}" alt="">
            <div class="over-layer"></div><div class="social-links">
              <a href=""><i class='bx bxl-linkedin'></i></a>
              <a href=""><i class='bx bxl-instagram'></i></a>
              <a href=""><i class='bx bxl-youtube'></i></a>
              <a href=""><i class='bx bxl-twitter' ></i></a>
            </div>
          </div>
          
          <div class="content">
            <h5>David Joe</h5>
            <p>Junior Staff</p>
          </div>
        
        </div>
      </div>


    </div>
  </div>
</section>

<!-- Reviews -->
<section id="review" class="bg-cover">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div id="review-slider" class="owl-carousel owl-theme">

            
          <div class="reviews">
            <img src="{% static 'images/team-member01.jpg' %}" alt="">
            <h4>Elvis Nicholas</h4>
            <small>Senior developer</small>
            <p class="load">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, laborum? Illum nisi illo optio hic, explicabo magnam quaerat quidem excepturi!</p>
          </div>

          <div class="reviews">
            <img src="{% static 'images/team-member03.jpg' %}" alt="">
            <h4>John Doe</h4>
            <small>Graphics</small>
            <p class="load">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, laborum? Illum nisi illo optio hic, explicabo magnam quaerat quidem excepturi!</p>
          </div>

          <div class="reviews">
            <img src="{% static 'images/team-member02.jpg' %}" alt="">
            <h4>David Doe</h4>
            <small>Web developer</small>
            <p class="load">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, laborum? Illum nisi illo optio hic, explicabo magnam quaerat quidem excepturi!</p>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog -->

<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center intro">
        <h5>BLOGS</h5>
        <h1>OUR BLOGS</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio consequuntur iusto facere! Culpa possimus minus est aut odio exercitationem, blanditiis dolorem iusto id praesentium.</p>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-lg-4">
        <div class="blog-post">
          <a href="" class="tag">Web Design</a>
          <img src="{% static 'images/blog-post1.jpg' %}" alt="">
          <small>
            <span>Posted By:</span>
            Paige Eriteta
            <span>Date:</span>
            Jan. 5th,2099
          </small>

          <h4>Web Development</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi beatae perferendis necessitatibus?
           Natus enim nesciunt pariatur aspernatur commodi sit distinctio, ut possimus. 
           Sunt minus, ab eius nostrum totam quod perspiciatis maxime expedita eligendi dicta,
            commodi blanditiis at, a ea dolorum et rem labore fugit! Beatae qui, officiis
             asperiores molestias doloribus similique ad ab quod suscipit provident accusamus
              repellat? Eum soluta atque blanditiis commodi ducimus. Porro doloribus eius dignissimos 
              rem nam tempora at. Dolore debitis odit totam, est doloremque adipisci error dolorem eum 
              expedita nobis blanditiis. Tempora dolor sequi sapiente. Necessitatibus laborum ipsum nisi 
              facilis nulla totam porro debitis. Ex, enim.
            </p>
        </div>
      </div>
      

      <div class="col-lg-4">
        <div class="blog-post">
          <a href="" class="tag">Web Design</a>
          <img src="{% static 'images/blog-post2.jpg' %}" alt="">
          <small>
            <span>Posted By:</span>
            Paige Eriteta
            <span>Date:</span>
            Jan. 5th,2099
          </small>

          <h4>Python</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi beatae perferendis necessitatibus?
           Natus enim nesciunt pariatur aspernatur commodi sit distinctio, ut possimus. 
           Sunt minus, ab eius nostrum totam quod perspiciatis maxime expedita eligendi dicta,
            commodi blanditiis at, a ea dolorum et rem labore fugit! Beatae qui, officiis
             asperiores molestias doloribus similique ad ab quod suscipit provident accusamus
              repellat? Eum soluta atque blanditiis commodi ducimus. Porro doloribus eius dignissimos 
              rem nam tempora at. Dolore debitis odit totam, est doloremque adipisci error dolorem eum 
              expedita nobis blanditiis. Tempora dolor sequi sapiente. Necessitatibus laborum ipsum nisi 
              facilis nulla totam porro debitis. Ex, enim.
            </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="blog-post">
          <a href="" class="tag">Web Design</a>
          <img src="{% static 'images/blog-post3.jpg' %}" alt="">
          <small>
            <span>Posted By:</span>
            Paige Eriteta
            <span>Date:</span>
            Jan. 5th,2099
          </small>

          <h4>Web Development</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi beatae perferendis necessitatibus?
           Natus enim nesciunt pariatur aspernatur commodi sit distinctio, ut possimus. 
           Sunt minus, ab eius nostrum totam quod perspiciatis maxime expedita eligendi dicta,
            commodi blanditiis at, a ea dolorum et rem labore fugit! Beatae qui, officiis
             asperiores molestias doloribus similique ad ab quod suscipit provident accusamus
              repellat? Eum soluta atque blanditiis commodi ducimus. Porro doloribus eius dignissimos 
              rem nam tempora at. Dolore debitis odit totam, est doloremque adipisci error dolorem eum 
              expedita nobis blanditiis. Tempora dolor sequi sapiente. Necessitatibus laborum ipsum nisi 
              facilis nulla totam porro debitis. Ex, enim.
            </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="blog-post">
          <a href="" class="tag">Web Design</a>
          <img src="{% static 'images/blog-post1.jpg' %}" alt="">
          <small>
            <span>Posted By:</span>
            Paige Eriteta
            <span>Date:</span>
            Jan. 5th,2099
          </small>

          <h4>Web Development</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi beatae perferendis necessitatibus?
           Natus enim nesciunt pariatur aspernatur commodi sit distinctio, ut possimus. 
           Sunt minus, ab eius nostrum totam quod perspiciatis maxime expedita eligendi dicta,
            commodi blanditiis at, a ea dolorum et rem labore fugit! Beatae qui, officiis
             asperiores molestias doloribus similique ad ab quod suscipit provident accusamus
              repellat? Eum soluta atque blanditiis commodi ducimus. Porro doloribus eius dignissimos 
              rem nam tempora at. Dolore debitis odit totam, est doloremque adipisci error dolorem eum 
              expedita nobis blanditiis. Tempora dolor sequi sapiente. Necessitatibus laborum ipsum nisi 
              facilis nulla totam porro debitis. Ex, enim.
            </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="blog-post">
          <a href="" class="tag">Web Design</a>
          <img src="{% static 'images/blog-post2.jpg' %}" alt="">
          <small>
            <span>Posted By:</span>
              Paige Eriteta
            <span>Date:</span>
            Jan. 5th,2099
          </small>

          <h4>Web Development</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi beatae perferendis necessitatibus?
           Natus enim nesciunt pariatur aspernatur commodi sit distinctio, ut possimus. 
           Sunt minus, ab eius nostrum totam quod perspiciatis maxime expedita eligendi dicta,
            commodi blanditiis at, a ea dolorum et rem labore fugit! Beatae qui, officiis
             asperiores molestias doloribus similique ad ab quod suscipit provident accusamus
              repellat? Eum soluta atque blanditiis commodi ducimus. Porro doloribus eius dignissimos 
              rem nam tempora at. Dolore debitis odit totam, est doloremque adipisci error dolorem eum 
              expedita nobis blanditiis. Tempora dolor sequi sapiente. Necessitatibus laborum ipsum nisi 
              facilis nulla totam porro debitis. Ex, enim.
            </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="blog-post">
          <a href="" class="tag">Web Design</a>
          <img src="{% static 'images/blog-post3.jpg' %}" alt="">
          <small>
            <span>Posted By:</span>
            Paige Eriteta
            <span>Date:</span>
            Jan. 5th,2099
          </small>

          <h4>Web Development</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi beatae perferendis necessitatibus?
           Natus enim nesciunt pariatur aspernatur commodi sit distinctio, ut possimus. 
           Sunt minus, ab eius nostrum totam quod perspiciatis maxime expedita eligendi dicta,
            commodi blanditiis at, a ea dolorum et rem labore fugit! Beatae qui, officiis
             asperiores molestias doloribus similique ad ab quod suscipit provident accusamus
              repellat? Eum soluta atque blanditiis commodi ducimus. Porro doloribus eius dignissimos 
              rem nam tempora at. Dolore debitis odit totam, est doloremque adipisci error dolorem eum 
              expedita nobis blanditiis. Tempora dolor sequi sapiente. Necessitatibus laborum ipsum nisi 
              facilis nulla totam porro debitis. Ex, enim.
            </p>
        </div>
      </div>

    </div>
    
  </div>
</section>
    <center><a href="{% url 'blog' %}" class="btn btn-brand mb-2">More Blogs</a></center>
<!-- Contact -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl modal-dialog-centered">
  <div class="modal-content">

    <!-- <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div> -->

    <div class="modal-body p-0">
      <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 bg-cover modal-bg"></div>

            <div class="col-lg-8">
              <form class="row gy-3 p-lg-2" action="">  
                <h1>GET IN TOUCH</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, labore ratione repudiandae natus quibusdam voluptatum.</p>                
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <textarea name="" class="form-control" id="" cols="30" rows="4"></textarea>
                  </div>
                </div>

                <div class="col-lg-12">
                  <button type="button" class="btn btn-brand">Send Message</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

              </form>
            </div>

          </div>
      </div>
    </div>

    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->

  </div>
</div>
</div>


{% endblock content %}
    
    