{% extends 'app/base.html' %}
{% load static %} 
{% block title %}Our Services{% endblock title %}

{% block content %}

<div style="background-color: rgb(222, 235, 47); padding: 20px; margin: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center;">
    <style>
        h1 {
            color: #333;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
            margin-bottom: 15px;
        }

        img {
            border-radius: 5px;
        }
    </style>
    
    <h1 class="fs-2 mt-3">What we Offer</h1>
    <img src="{% static 'images/downwards2.png' %}" width="300" height="250" alt="man pointing down">
</div>

<div class="container">
    <div class="row">

        <div class="col-md-4 mt-5" style="box-shadow: 1px 2px 5px rgb(92, 91, 91); width: 300px; margin-left: 5%;">
           <center><img src="{% static 'images/basic.png' %}" alt="" width="250px" height="200px" class="mt-3">
            <h3>COMPUTER BASICS</h3>
            <h1>PRICE: N50,000</h1>
        </center>
        </div>

        <div class="col-md-4 mt-5" style="box-shadow: 1px 2px 5px rgb(79, 158, 233); width: 300px; margin-left: 5%;">
            <center><img src="{% static 'images/pythonStack.jpg' %}" alt="" width="250px" height="200px" class="mt-3">
             <h3>FULL STACK PYTHON</h3>
             <h1>PRICE: N280,000</h1>
         </center>
         </div>
        <div class="col-md-4 mt-5" style="box-shadow: 1px 2px 5px rgb(83, 179, 103); width: 300px; margin-left: 5%;">
           <center> <img src="{% static 'images/scriptStack.jpg' %}" alt="" width="250px" height="200px" class="mt-3">
            <h3>FULL STACK JAVASCRIPT</h3>
            <h1>PRICE: N280,000</h1>
        </center>
        </div>

        <div class="col-md-4 mt-3" style="box-shadow: 1px 2px 5px rgb(62, 25, 71); width: 300px; margin-left: 5%;">
           <center> <img src="{% static 'images/phpStack.png' %}" alt="" width="250px" height="200px" class="mt-3">
            <h3>FULL STACK PHP</h3>
            <h1>PRICE: N240,000</h1>
        </center>
        </div>

        <div class="col-md-4 mt-3" style="box-shadow: 1px 2px 5px rgb(63, 2, 31); width: 300px; margin-left: 5%;">
           <center><img src="{% static 'images/graphics.avif' %}" alt="" width="250px" height="200px" class="mt-3">
            <h3>GRAPHICS DESIGN</h3>
            <h1>PRICE: N150,000</h1>
        </center>
        </div>

        <div class="col-md-4 mt-3" style="box-shadow: 1px 2px 5px rgb(129, 129, 129); width: 300px; margin-left: 5%;">
           <center><img src="{% static 'images/animation.jpg' %}" alt="" width="250px" height="200px" class="mt-3">
            <h3>ANIMATION</h3>
            <h1>PRICE: N120,000</h1>
        </center>
        </div>

        <div class="col-md-4 mt-3 mb-4" style="box-shadow: 1px 2px 5px rgb(45, 55, 82); width: 300px; margin-left: 5%;">
           <center><img src="{% static 'images/hack.jpg' %}" alt="" width="250px" height="200px" class="mt-3">
            <h3>ETHICAL HACKING</h3>
            <h1>PRICE: N340,000</h1>
        </center>
        </div>

        <div class="col-md-4 mt-3 mb-4" style="box-shadow: 1px 2px 5px rgb(83, 83, 83); width: 300px; margin-left: 5%;">
           <center><img src="{% static 'images/database.png' %}" alt="" width="250px" height="200px" class="mt-3">
            <h3>DATABASE</h3>
            <h1>PRICE: N200,000</h1>
        </center>
        </div>

        <div class="col-md-4 mt-3 mb-4" style="box-shadow: 1px 2px 5px rgb(53, 62, 187); width: 300px; margin-left: 5%;">
           <center><img src="{% static 'images/software.jpg' %}" alt="" width="250px" height="200px" class="mt-3">
            <h3>SOFTWARE DEVELOPMENT</h3>
            <h1>PRICE: N310,000</h1>
        </center>
        </div>
        
    </div>
</div>


{% endblock content %}
    